@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: rgb(177, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: poppins;
}
.container{
    background-color: rgb(106, 130, 130);
    width: 80%;
    height: 100vh;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 5px, 5px, 5px
}
h2{
    text-align: center;
    color: black(124, 161, 149);
    margin: top 0;
    font-size: x-large;

}
button{
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    background-color: aqua;
    border: none;color: black;
    transition: 1s;
}
.input-label input{
    width:95%;
    margin: 10px;
    margin-left: 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid ;
    margin-top: 0;
}
.button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.input-label .border{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 60%;
    margin: left 0;
    margin-top: 0;
}
.terms{
    margin: 10px;
    margin-right: 0;
}
@media(max-width:760px){
     .container{
        width: auto;
     }
}

   
    