@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: rgb(173, 163, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: poppins;
}
.formcontainer{
    background-color: white;
    width: 35%;
    border-radius: 15px;
    padding: 20px;
    color:  rgb(105, 105, 105);
    box-shadow: 3px 3px 15px rgb(180, 179, 179), -3px -3px ;
}
h2{
    text-align: center;
    color:  rgb(59, 59, 59) ;
    margin-top: 0;
    font-size: x-large ;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 7px ;
    background-color: rgb(79, 120, 196);
    border: none;
    color: white;
    transition: 0.5s;
}
.input-label input{
    width: 95%;
    margin: 10px;
    margin-left: 0;
    padding: 8px;
    border: 1px solid  rgb(153, 153, 153);
    border-radius: 5px;
    margin-top: 0;
}
button:hover{
    background-color: rgb(57, 80, 122);
    cursor: pointer;
}
.input-label1 .border{
    border: 1px solid  rgb(153, 153, 153);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0;
    width: 95%;
    margin-top: 0;
}
.terms{
    margin: 10px;
    margin-left: 0;
} 
@media (max-width: 760px){
    .container{
        width: auto;
    }
}